@import "../mixin.sass";
.about .wrap
  +flex_box(row, space-between , center)
  flex-wrap: wrap

.about
  background-color: #f4f4f4
  position: relative
  
  +main_padding(100px, 100px)
  &:before 
    content: ""
    height: 50px
    width: 100%   
    background-color: $pink
    transform: rotate(-1deg)
    position: absolute
    top: -36px
    left: 0px 
  &__img
      
      +m_query($xs)
        +boxW(12,12)
      +m_query($sm)
        +boxW(12,8)
      +m_query($md)
        +boxW(12,8)
      +m_query($lg)
        +boxW(12,8)
  &__img img
    width: 100%
  &__text
      padding-left: 15px
      padding-right: 15px
      box-sizing: border-box
      +m_query($xs)
        +boxW(12,12)
      +m_query($sm)
        +boxW(12,4)
      +m_query($md)
        +boxW(12,4)
      +m_query($lg)
        +boxW(12,4)
.about_text
  &__title h2
    +font(lato_lt, 38px, #5a5a5a, 300, left, none)
    font-style: italic
  &__strip
    @include strip
    +mtb(30px, 30px) 

  &__text
  &__text p
    +font(lato_light, 15px, #5a5a5a, 300, left, none)
  &__link
    +flex_box(row, flex-start, center)
    +font(lato_light, 15px, $pink, 900, left, uppercase)
  &__link p
    margin-right: 20px
    +mtb(30px, 30px)